
/* Code css du footer */
.footer
{
	box-sizing: border-box;
	position: relative;
	width: 100%;
	background: #0d0c5c;
	min-height: 100px;
}

.wave#wave1
{
	z-index: 9;
	opacity: 1;
	bottom: 0;
	animation: animateWaves 4s linear infinite;
}

.wave#wave2
{
	z-index: 9;
	opacity: 0.5;
	bottom: 10px;
	animation: animate 4s linear infinite !important;
}

.wave#wave3
{
	z-index: 9;
	opacity: 0.2;
	bottom: 15px;
	animation: animateWaves 3s linear infinite;
}

.wave#wave4
{
	z-index: 9;
	opacity: 0.7;
	bottom: 20px;
	animation: animate 3s linear infinite;
}

@keyframes animateWaves
{
	0%
	{
		background-position-x: 1000px;
	}

	100%
	{
		background-position-x: 0px;
	}
}

@keyframes animate
{
	0%
	{
		background-position-x: -1000px;
	}

	100%
	{
		background-position-x: 0px;
	}
}

.footer-content
{
	margin-top: 200px;
	display: flex;
	width: 100%;
}

.footer-info
{
	width: 24%;
	margin-left: 7%;
	margin-bottom: 20px;
}

.contact-info
{
	width: 33%;
	margin-bottom: 20px;
}

.contact-info .vrap a
{
	color: black;
	/* Utilise la couleur héritée du parent */
	text-decoration: none;
	/* Supprime la décoration du lien, comme soulignement ou autre */
}

.contact-info h3
{
	margin-left: 25%;
}

.contact-info .vrap
{
	margin-left: 15%;
}

.footer-info h3,  .contact-info h3
{
	font-family: "Poppins", sans-serif;
	color: #ffffff;
	font-size: 18px;
	margin-bottom: 20px;
}

.footer-info p,  .contact-info p
{
	color: #9ca3af;
	font-size: 15px;
	margin-bottom: 20px;
	text-align: justify;
}

.footer-bottom
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-top: 20px;
}

.footer-logo img
{
	margin-left: 8%;
	width: 100%;
	height: 80px;
}

.rights
{
	width: 400px;
	color: white;
	margin-bottom: 20px;
}

*:focus,  *:active
{
	outline: none !important;
	-webkit-tap-highlight-color: transparent;
}

.vrap
{
	display: inline-flex;
	list-style: none;
}

.vrap .icon
{
	position: relative;
	background: #ffffff;
	border-radius: 50%;
	padding: 15px;
	margin-left: 15px;
	width: 20px;
	height: 20px;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.vrap .icon:hover span,  .vrap .icon:hover .tooltip
{
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.vrap .facebook:hover,  .vrap .facebook:hover .tooltip,  .vrap .facebook:hover .tooltip::before
{
	background: #1877F2;
	color: #ffffff;
}

.vrap .twitter:hover,  .vrap .twitter:hover .tooltip,  .vrap .twitter:hover .tooltip::before
{
	background: rgb(139, 29, 242);
	color: #ffffff;
}

.vrap .instagram:hover,  .vrap .instagram:hover .tooltip,  .vrap .instagram:hover .tooltip::before
{
	background: #E4405F;
	color: #ffffff;
}

.vrap .github:hover,  .vrap .github:hover .tooltip,  .vrap .github:hover .tooltip::before
{
	background: #333333;
	color: #ffffff;
}

.vrap .youtube:hover,  .vrap .youtube:hover .tooltip,  .vrap .youtube:hover .tooltip::before
{
	background: #CD201F;
	color: #ffffff;
}

.fofot
{
	margin-left: 2%;
	margin-right: 2%;
}
